<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head.ejs") %>
    <body>
        <div class="container-fluid h-100">
            <%- include("includes/navbar.ejs") %>
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="d-flex flex-column" style="width: 50%">
                    <h1 class="text align-self-center"><a style="font-size: 36px" href="#" onclick="window.history.back()">«</a> File Uploads</h1>
                    <p class="text align-self-center" style="padding-bottom: 25px; color: rgb(180, 180, 180)">
                        Showing file uploads for <%= hwid %>.
                    </p>
                    <table id="logTable" class="table justify-content-center align-items-center text-center">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Download</th>
                            </tr>
                        </thead>
                        <tbody id="logTableBody">
                            <% tableData.forEach(entry => { %>
                            <tr>
                                <td><%= entry.id %></td>
                                <td><%= entry.date %></td>
                                <td><%= entry.name %></td>
                                <td><%= entry.description %></td>
                                <td><a class="btn w-50 btn-sm btn-secondary" href="/api/download_file/<%= entry.id %>/<%= hwid %>">Click Here</a></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <%- include("includes/scripts.ejs") %>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#logTable').DataTable({
                    dom: 'frtp',
                    pageLength: 4,
                    order: [[0, 'desc']],
                });
            });
        </script>
    </body>
</html>
